# =========================
# ROS2 build artifacts
# =========================
build/
install/
log/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Colcon / ament
# =========================
*.egg-info/
*.egg
*.log

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db